*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width:100%;
    margin:0px;
    background-color: #ffffff;
}
.top {
    background: #8bba23;
    padding-top: 10px;
    padding-left: 15px;
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
}
.top span {
    padding-left: 15px;
}
.service_text {
    padding:15px;
    font-size: 120%;
    text-align: justify;
     -webkit-hyphens: auto;
    hyphens: auto;
}